/* body */
body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.search{
    margin: 10px;
    margin-top: 50px;
    display: flex;
    justify-content: center;
}
.search input{
    outline: none;
    height: 50px;
    width: 100%;
    border-radius: 20px;
    border: 0ch;
    background-color: rgba(249, 249, 249, 0.993);
    padding-left: 20px;
    box-shadow: 1px 1px 100px 1px rgba(0, 0, 0, 0.174);
}


/* nav of services */
.listofservices{
    display: flex;
    list-style: none;
    justify-content: center;
}
.listofservices li{
    margin: 10px;
    font-size: 12px;
    color: rgba(0, 0, 0, 0.558);
    margin-top: 2px;
}


/*Services We Offer */
.services{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 50px;
}
/* White box of service */
.service{
    height: 190px;
    width: 140px;
    background-color: whitesmoke;
    box-shadow: 1px 1px 100px 1px rgba(197, 194, 194, 0.322);
    border-radius: 10px;
    margin: 10px;
    display: flex;
    justify-content: center;
}
.service img{
    margin-top: 12px;
    height: 170px;
    border-radius: 4px;
}
.service span{
    /* position: fixed; */
    height: 45px;
    width: 140px;
    /* background-color: rgb(26, 26, 26); */
    /* border-radius: 35px 35px 10px 10px ; */
    /* margin: 10px; */
    /* display: flex; */
    /* justify-content: center; */
    /* margin-top: 120px; */
    /* color: white; */
    /* padding-top: 25px; */
}

/*Services We Offer */


.lable{
    display: grid;
    justify-content: center;
    font-family: 'Dancing Script',"cursive";
    word-spacing: 10px;
    color: rgb(89, 89, 89);
    margin-top: 30px;
    margin-bottom: -30px;
}
.line{
    background-color: rgb(32, 181, 173);
    height: 1px;
    border-radius: 10px;
    width: 200px;
    margin-top: -10px;
}



/* Shops in locality */
.shopsinlocality{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

 .shopsbigcard{  /* Big card */
    height: 350px;
    width: auto;
    max-width: 350px;
    background-color: whitesmoke;
    margin-top: 50px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.shopsbigcard h1{
    margin-top: -5PX;
    font-size: 20px;
}
.shopsbigcard h2{
    text-align: center;
    padding-top: 10px;
    margin-top: 20px;
    color: rgb(255, 255, 255);
    background-color: black;
    height: 37px;
    width: 190px;
    border-radius: 10px;
    font-weight: 100;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.shpssmallcard{
    display: flex;
    justify-content: center;
    height: 200px;
    margin: 5px;
    width: 160px;
    background-color: whitesmoke;
    margin-top: 50px;
    border-radius: 5px; 
}
.shopsbigcard img{
    height: 220px;
}
